<div class="form-group">
	<label class="control-label col-md-3">{{ name }}</label>
	<div class="col-md-9">
		{% for option in options %}
			<div>
				<label>
					<input type="checkbox" name="data[{{ label }}][]" value="{{ option}}" {% if option in value %}checked{% endif %} /> {{ option}} 
				</label>
			</div>
		{% endfor %}
	</div>
</div>
