<div class="form-group">
	<label class="control-label col-md-3">Textarea height</label>
	<div class="col-md-9">
		<input type="text" class="form-control" name="data[options][rich_textarea][height]" value="{{ height ? height : 300 }}" style="width:100px">
	</div>
</div>