<div class="form-group">
	<label class="control-label col-md-3">Maximum length</label>
	<div class="col-md-9">
		<input type="text" class="form-control" name="data[options][text][max_length]" value="{{ max_length ? max_length : 100 }}" style="width:100px">
	</div>
</div>