{% extends "full-page-layout.html" %}

{% block stylesheets %}
	{{ parent() }}
	
{% endblock %}

{% block content %}
	<div class="page-content-wrapper">
		<div class="page-content">
			<h3 class="page-title">
				{{ page_title }}
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="/admin/dashboard">Dashboard</a>
					</li>
				</ul>
			</div>
			<!-- END PAGE HEADER-->
			<a href="/admin/logout">Log out</a>
		</div>
	</div>
{% endblock %}

{% block javascript_bottom %}
	
{% endblock %}
