<div class="form-group">
	<label class="control-label col-md-3">Upload path</label>
	<div class="col-md-9">
		<input type="text" class="form-control" name="data[options][photos][path]" value="{{ path ? path : "/upload/" }}" >
	</div>
</div>