<div class="form-group">
	<label class="control-label col-md-3">Options</label>
	<div class="col-md-9">
		<textarea class="form-control" name="data[options][select][options]">{{ options }}</textarea>
		<span class="help-block">
			Put each item on a single line 
		</span>
	</div>
</div>