<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
			<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
			<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
			<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
			<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
			<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				
				<li class="start {% if page == 'dashboard' %}active{% endif %}">
					<a href="/admin/dashboard" >
					<i class="icon-home"></i>
					<span class="title">
					Dashboard </span>
					</a>
				</li>
				
				<li class=" {% if tab == 'channels'%}active open{% endif %}">
					<a href="javascript:;">
					<i class="icon-docs"></i>
					<span class="title">Content</span>
					<span class="selected"></span>
					<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						{% for channel in channels %}
						<li class="{% if page == 'channel_' ~ channel.id %}active{% endif %}">
							<a href="/admin/channel/{{ channel.id }}">{{ channel.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				
				<li class=" {% if tab == 'agents'%}active open{% endif %}">
					<a href="javascript:;">
					<i class="icon-layers"></i>
					<span class="title">Templates</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{% if page == 'agents'%}active{% endif %}">
							<a href="/agents">
							Templates manager</a>
						</li>
						<li class="{% if page == 'products'%}active{% endif %}">
							<a href="/products">
							Channles</a>
						</li>
						<li class="{% if page == 'agents_groups'%}active{% endif %}">
							<a href="/agents_groups">
							Custom fields</a>
						</li>
					</ul>
				</li>
				
				<li class=" {% if tab == 'settings'%}active open{% endif %}">
					<a href="javascript:;">
					<i class="icon-users"></i>
					<span class="title">Users</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{% if page == 'logs'%}active{% endif %}">
							<a href="/logs">
							All users</a>
						</li>
					</ul>
				</li>
				
				<li class=" {% if tab == 'settings'%}active open{% endif %}">
					<a href="javascript:;">
					<i class="icon-settings"></i>
					<span class="title">Settings</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{% if page == 'logs'%}active{% endif %}">
							<a href="/logs">
							General configuration</a>
						</li>
						<li class="{% if page == 'calltimes'%}active{% endif %}">
							<a href="/calltimes">
							Security</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->