{% extends "admin/templates/layout.twig" %}

{% block stylesheets %}
	{{ parent() }}
	
{% endblock %}

{% block content %}
	<h3 class="page-title">{{ page_title }}</h3>

{% endblock %}

{% block javascript_bottom %}
	
{% endblock %}
