<div class="form-group">
	<label class="control-label col-md-3">Save Path</label>
	<div class="col-md-9">
		<input type="text" class="form-control" name="data[options][file][path]" value="{{ field.options.file.path ? field.options.file.path : '/upload/' }}">
	</div>
</div>